* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  background: #1c262f;
  color: rgb(230, 225, 225);
  width: 90%;
  margin: 0 auto;
}

html {
  font-size: 10px;
  font-family: "MuseoModerno", cursive;
  background: #2d3740;
}

.logo {
  max-width: 80%;
  text-align: center;
  position: relative;
  left: 9rem;
  margin-bottom: 4rem;
}

form {
  text-align: center;
}

label {
  font-size: 1.8rem;
}

input {
  width: 80%;
  padding: 0.4rem;
  margin: 1.5rem 0;
  background: rgb(230, 225, 225);
  border: none;
  text-align: center;
  font-family: inherit;
  font-size: 1.4rem;
  outline: none;
}

button {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  background-color: #0ad9ff;
  border: none;
  font-size: 1.4rem;
  font-family: inherit;
  font-weight: bolder;
  margin-bottom: 1.5rem;
  outline: none;
  cursor: pointer;
}

h2 {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 2rem;
  font-weight: lighter;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 2.8rem;
}

li {
  border: 1px rgb(230, 225, 225) solid;
  padding: 1.5rem 2rem;
}

.totalMiles {
  display: flex;
  justify-content: space-between;
  background: #141c22;
  font-size: 2.5rem;
  padding: 1.3rem;
  margin-bottom: 2rem;
}

.avgMiles {
  display: flex;
  justify-content: space-between;
  background: #141c22;
  font-size: 2.5rem;
  padding: 1.3rem;
  margin-bottom: 2rem;
}

.high {
  display: flex;
  justify-content: space-between;
  background: #141c22;
  font-size: 2.5rem;
  padding: 1.3rem;
}

#goalEntry {
  width: 30%;
  padding: 0.4rem;
  margin: 1.5rem 2rem;
  background: rgb(230, 225, 225);
  border: none;
  text-align: center;
  font-family: inherit;
  font-size: 1.4rem;
  height: 2rem;
  align-self: center;


}

#goalWrapper {
  text-align: left;
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  
  
}

#goalLabel {
  align-content: center;
}

#goalWrapper label {
  align-self: center;
}

.progressCircleWrapper {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.progressCircle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.progressCenter {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: #1c262f;
}